[submodule "wp-content/themes/morgan/_/libs/pswp"]
	path = wp-content/themes/morgan/_/libs/pswp
	url = https://morgandelaney@bitbucket.org/programstudio/ps-wordpress.git
[submodule "api"]
	path = api
	url = https://tallmorgan@bitbucket.org/tallmorgan/morgan-api.git
