.theme-wrapper
  +calc('width', $mobile-max-width)
  max-width: 440px // Sort of arbitrary: 480px width 20px gutters
  overflow: hidden

.theme-panel
  padding: vw(60px) 0

.theme-title
  margin-bottom: vw(60px)
  .desktop
    display: none
  .mobile
    display: block

.has-animation
  /* It really is important, never hide on mobile (nasty scroll) */
  opacity: 1 !important

$media-height-mobile: vw(300px)

#home-welcome
  height: auto
  +calc('padding-bottom', "#{$media-height-mobile} + 32px")
  .abstract
    height: auto
    > div
      +calc('width', $mobile-max-width)
      text-align: center
    .sides
      margin: 0
      white-space: normal
      top: 0
      .side
        display: block
        margin: 0 auto
      .side.left
        width: vw(204px)
        position: relative
      .side.right h1
        margin-bottom: 14px
    .image
      padding-top: 100%
      width: 100%
      margin: 0 auto 40px
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
  .media
    > div
      background-image: url("../img/home/mobile-media.jpg")
      height: $media-height-mobile
      width: vw(529px)
      background-size: contain
    .medium
      display: none

#home-help .helps li
  display: block
  width: auto
  margin: 0 0 36px
  .number
    width: 46px
    height: 46px
    margin-bottom: 17px
  .title
    margin-bottom: 16px

#home-about
  height: auto
  padding: 0
  .right
    width: 100%
    height: auto
    position: static
    .content
      > div
        +calc('width', $mobile-max-width)
        margin: 0 auto
        max-width: none
        display: block
        padding: 40px 20px
      .title
        margin: 0 0 18px

#home-clients
  img
    display: none
    &.mobile
      display: block
      width: vw(360px)
      height: vw(422px)

#home-portfolio
  .disciplines
    margin: 0 auto vw(62px)
    li
      white-space: normal
      text-align: left
      display: inline
      line-height: 1.6rem
      span
        display: none
  .work
    display: none
    &.mobile
      display: block
      li
        width: vw(360px)
        height: vw(679px)
        margin: 0 auto vw(60px)
        display: block
        a
          display: block
          height: 100%
          background: url("../img/home/mobile-portfolio.jpg") no-repeat 0 0
          background-size: contain
        .wrap
          display: block
          margin: 0 auto
          position: relative
          top: vw(100px)
          width: vw(270px)
          height: vw(479px)
          left: 0
        img
          display: block
          width: 100%
          height: 100%

#home-contact
  height: 290px
  ul
    display: block
    width: auto
    li
      text-align: center